.search-params {
  text-align: center;
  position: relative;
  background: hsla(0, 0%, 90%, 0.5);
  box-shadow: 3px 3px 5px #000;
  width: 100%;
  max-height: 20vh;
  font-size: 12px;
}

.search-params form {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: auto;
  padding: 1em;
  border-radius: 5px;
  margin: 0;
}

.search-params form > div {
  margin: 0 1em;
}

.search-params-colors {
  display: flex;
  flex-flow: column wrap;
  max-height: 10em;
  position: relative;
  width: 30%;
}

.search-params-colors label {
  margin: 0.5em;
}

.search-param {
  display: flex;
  flex-flow: row wrap;
  margin: 0.5em auto;
  align-items: center;
  justify-content: center;
  width: auto;
}

.search-param-checkbox {
  width: auto;
}

.search-params select {
  margin-left: 0.5em;
  min-width: 5em;
}

.search-params-keywords select,
.search-params-types select {
  width: auto;
}

.search {
  background-color: #d9c148;
  padding: 15px;
  border-radius: 9px;
  float: left;
  margin-bottom: 25px;
}

.search-params input,
.search-params select {
  font-size: 12px;
}

.search-params button,
#modal button,
.details button {
  background-color: #ad343e;
  padding: 5px 25px;
  color: white;
  font-size: 18px;
  border: #333 1px solid;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  max-height: 2em;
}

.search-params button:hover {
  background-color: #122622;
}

.search-params button:active {
  background-color: #5f1d22;
}

.search-params button:focus {
  border: 1px solid cornflowerblue;
}

@media only screen and (max-width: 1129px) {
  .search {
    width: 55%;
    padding: 15px;
    border-radius: 9px;
    float: left;
    margin-bottom: 25px;
  }
}

@media only screen and (max-width: 945px) {
  .search {
    width: 100%;
  }
}
